# Byte-compiled / optimized / DLL files
API/__pycache__/
# *.py[cod]

# Environments
API/.env
API/.venv
API/env/
API/venv/
API/ENV/
API/env.bak/
API/venv.bak/
API/.vscode

# Database stuff
API/*.sqlite3*
API/*.sqlite3-journal
API/migrations/
API/DB_backups/

# NPM STUFF:
# dependencies
/react-calendar/node_modules

# production
/react-calendar/build