# Byte-compiled / optimized / DLL files
API/__pycache__/
# *.py[cod]

# Environments
API/.env
API/.venv
API/env/
API/venv/
API/ENV/
API/env.bak/
API/venv.bak/
API/.vscode

# Database stuff
API/*.sqlite3*
API/*.sqlite3-journal
API/migrations/
API/DB_backups/

# NPM STUFF:
# dependencies
/react-calendar/nutri-manager-fe/node_modules
/react-calendar/nutri-manager-fe/pnp
/react-calendar/nutri-manager-fe/pnp.js

# testing
/react-calendar/nutri-manager-fe/coverage

# production
/react-calendar/nutri-manager-fe/build

# misc
/react-calendar/nutri-manager-fe/DS_Store
/react-calendar/nutri-manager-fe/env.local
/react-calendar/nutri-manager-fe/env.development.local
/react-calendar/nutri-manager-fe/env.test.local
/react-calendar/nutri-manager-fe/env.production.local

/react-calendar/nutri-manager-fe/npm-debug.log*
/react-calendar/nutri-manager-fe/yarn-debug.log*
/react-calendar/nutri-manager-fe/yarn-error.log*